*.htaccess*
*web.config
*install.config
*.log
*.sql
*.txt
*.dt
*.xml
*.csv
*.xls*
*.doc*
*.tar*
*.zip
*.rar
*.gz*
*.bak
*.old
*.backup
*~
*lock.*
*.lock*

/.composer/

nbproject/
.idea/
.vscode/
.classpath
.project
.settings/

/bitrix/
/upload/

/local/assets/build/
/node_modules/
/vendor/

/sites/*/bitrix
/sites/*/local
/sites/*/upload
/sites/*/google*.html
/sites/*/yandex*.html

/configs/db.json
/configs/deploy-env.json

/data/
.env

/docker/*/dev.ini
/repo/