<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin:0;">
<table border=0 cellpadding="0" cellspacing="0" style="padding:0; margin: 0 auto; border-collapse: collapse; background: #f7f7f7; width: 100%;">
    <tr>
        <td style="padding: 0; margin: 0; border:none;border-collapse: collapse; text-align: center;">
            <!-- Content Wrap -->

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" style="padding:0; margin: 0 auto;border-collapse: collapse; width: 600px; ">
                <tr>
                    <td>
            <![endif]-->
            <table  cellpadding="0" cellspacing="0" style="padding:0; margin: 0 auto;border-collapse: collapse; width: 100% ; max-width:600px; ">
                <tr>
                    <td style="padding: 0; margin: 0; border:none; border-collapse: collapse;">
                        <table border=0 cellpadding="0" cellspacing="0" style="padding:0; margin: 0; border-collapse: collapse; background: #015729; width: 100%; max-width: 600px;">
                            <tr>
                                <td style=" margin: 0; border:none; border-collapse: collapse; text-align: center; padding: 12px;">
                                    <img src="https://shkolaveka.ru/local/assets/images/mailer/logos.png">
                                </td>
                            </tr>
                        </table>
                        <table border=0 cellpadding="0" cellspacing="0" style="padding:0; margin: 0; border-collapse: collapse; background: #fff; width: 100%;">
                            <tr>
                                <td style="padding: 0; margin: 0; border:none; border-collapse: collapse; text-align: center; ">
                                    <img style="max-width: 100%;" src="https://shkolaveka.ru/local/assets/images/mailer/banner.jpg">
                                </td>
                            </tr>
                        </table>

                        <table border=0 cellpadding="0" cellspacing="0" style="margin: 0; border-collapse: collapse; background: #fff; width: 100%; border-bottom: 1px solid #f7f7f7;">
                            <tr>
                                <td style="padding:30px; margin: 0; border:none; border-collapse: collapse; text-align: center; ">
                                    <span style="font: 12px Arial; color:#627482;">Для восстановления пароля на сайте <a href="http://shkolaveka.ru" style="font: 12px Arial; color:#f29100; text-decoration: underline;">shkolaveka.ru</a> пройдите по одноразовой ссылке: «Начальная Школа XXI Века».</span>
                                </td>
                            </tr>
                        </table>

                        <table border=0 cellpadding="0" cellspacing="0" style=" margin: 0; border-collapse: collapse; background: #fff; width: 100%; border-bottom: 1px solid #f7f7f7;">
                            <tr>
                                <td style="padding:50px 0 25px;margin: 0; border:none; border-collapse: collapse; text-align: center; ">
                                    <p style="margin: 5px 0; font: bold 14px  Arial; color:#0c2d46;">Для восстановления пароля перейдите по ссылке:</p>
                                    <p style="margin: 5px 0; font: bold 14px Arial; color:#00a74b;">
                                        <a href="{{ forgotLink }}" style="color:#f29100; font: bold 14px Arial; text-decoration: none;">
                                        Перейти
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>


                        <table border=0 cellpadding="0" cellspacing="0" style="padding:0; margin: 0; border-collapse: collapse; background: #00a74b; width: 100%; max-width: 600px;">
                            <tr>
                                <td style=" margin: 0; border:none; border-collapse: collapse; text-align: center; padding: 20px;">
                                    <p style="font: 12px Arial; color: #99dcb7; ">© 2018 Корпорация «Российский учебник»</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
</table>
</body>
</html>