/*main colors variables*/

$black: #212529;
$blue: #007DC6;
$blue_opacity: rgba(0, 124, 196, 0.45);
$blue_light: #3fa0d5;
$red: #cc1b00;
$orange: #f36f21;
$orange_light: #f69359;
$gray_text: #2f2e2e;
$gray_text_light: #6f6c6a;
$gray_fon: #ececec;
