@import "color";
@import "media";
@import "svg";
@import "contact_list";

.form-input-mask {
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  height: 44px;
  width: 100%;
  background-color: #ffffff;
  padding: 2px 0 3px 13px;
  font-size: 16px;
  line-height: 24px;
  outline: 0;
  margin-bottom: 7px;
}