# make dev.ini from this file and customize it as you wish

[xdebug]
zend_extension=xdebug.so
xdebug.remote_enable = 1
xdebug.remote_connect_back = 0
xdebug.remote_autostart = 0
xdebug.remote_port = 9001

# use this if you use macOS
# xdebug.remote_host = docker.for.mac.localhost